@use "sass:meta";
@use "sass:color";
@use "../base/base" as *;

/// MainBar (name attempt)
/// ======================
/// 
/// A top-level navigation bar with role="banner", containing essential
/// navigation elements that inform the website structure.
/// 
/// Syntax:
/// 
///     <gw-mainbar role="banner">
///         <h1 data-gw-slot="title">
///             <span class="gw-icon" data-gw-icon="gnome">GNOME</span>
///             <strong>Web Patterns</strong>
///         </h1>
///         <nav data-gw-slot="nav" aria-label="Main">
///             <ul>
///                 <li><a href="#">Overview</a></li>
///                 <li><a href="#">Section</a></li>
///                 <li><a href="#">Section</a></li>
///             </ul>
///         </nav>
///         <div data-gw-slot="actions">
///             <gw-popover>
///                 <button data-gw-slot="invoker" class="gw-iconbutton" data-gw-icon="menu">Main menu</button>
///                 <div data-gw-slot="popover" role="menu">
///                     <ul role="group" aria-label="Secondary">
///                         <li>(...)</li>
///                     </ul>
///                     <ul role="group" aria-labelledby="gw-gnome-dot-org-heading">
///                         <li role="presentation" id="gw-gnome-dot-org-heading">GNOME.org</li>
///                         <li><a href="#" data-gw-icon="home">Home Page</a></li>
///                         <li><a href="#" data-gw-icon="map">Site Map</a></li>
///                     </ul>
///                 </div>
///             </gw-popover>
///         </div>
///     </gw-mainbar>
/// 
/// 



/// @mixin: view-mode() (name attempt)
/// 
/// similar to viewport(), but may be used out of sync with the viewport style.
/// example: headerbar dynamicalling choosing when to use its `narrow` view mode,
/// becoming out of sync with the CSS-only `narrow` viewport (which is still used).
/// 
/// Listens for `[data-gw-viewmode`] to apply.
/// 
/// Use in the component top level.
///
/// OPEN QUESTIONS:
/// - make this generic?
/// - listen for parent?

@mixin view-mode($viewport) {
    @include viewport($viewport) {
        &:not([data-gw-viewmode]) {
            @content;
        }
    }

    &[data-gw-viewmode="#{$viewport}"] {
        @content;
    }
}

@include gw() {

    gw-mainbar {
        --layout-page-margin: calc(((100vw - var(--gw-page-width)) / 2) - var(--gw-spacing-medium));

        position: relative;
        width: 100%;        
        background: var(--gw-header-bg-color);
        color: var(--gw-default-fg-color);
        margin: 0 auto;
        display: grid;
        align-items: center;
        grid-template-areas: "margin-start title nav actions margin-end";
        padding: var(--gw-spacing-medium) 0;
        gap: var(--gw-spacing-medium);
        grid-template-columns:
            minmax(0, var(--layout-page-margin))
            1fr auto 1fr
            minmax(0, var(--layout-page-margin));

        @include use-theme("dark", ("foreground", "action"));

        & > [data-gw-slot="title"] {
            grid-area: title;
            margin: 0;
            padding: 0;
            font-size: var(--gw-font-size-title-2);
            font-weight: 600;

            h1 {
                font-weight: inherit;
            }

            & > a {
                display: flex;
                flex-direction: row;
                gap: 0.5ch;
                padding: 4px;
                margin: -4px;
                color: inherit;
                text-decoration: none;
                align-items: center;
                width: fit-content;
                border-radius: 6px;

                & > [data-gw-icon] {
                    // large icon modifier
                    --gw-icon--size: 32px;
                }
                & > strong {
                    font-weight: inherit;
                    flex-shrink: 1;
                    line-height: 32px;
                    width: fit-content;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        /// Slot: Navigation
        /// 
        /// Main navigation of the website.
        /// 
        /// Syntax:
        /// 
        /// Ongoing considerations:
        /// - Aim for a concise number of navigation items.
        ///   
        /// - Don’t include external links as part of the main navigation. 
        /// 
        /// - The website landing page is represented as the first navigation item.
        /// 
        /// - Reserve the label “Home” for the GNOME.org Home Page. Consider using "Overview".
    


        & > [data-gw-slot="nav"] {
            position: relative;
            margin: calc(var(--gw-spacing-medium) * -1);
            padding: var(--gw-spacing-medium);
            grid-area: nav;
            display: flex;
            flex: 1 1 auto;
            overflow: auto;
            scrollbar-width: narrow;

            & > ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex: 0 0 auto;
                margin: 0 auto;
                gap: 4px;

                & > li > a {
                    display: flex;
                    border-radius: var(--action-radius, 6px);
                    padding: 4px 12px;
                    color: inherit;
                    text-decoration: none;
                    font-weight: bold;
                    align-items: center;
                    font-weight: 600;
                    gap: 6px;

                    @include action-bg-color-states("flat");
                }
            }
        }

        // Fade-out across horizontal nav
        // FIXME: import header-bg from theme
        &[data-gw-mainbarhasscroll="true"]:after {
            pointer-events: none;
            content: "";
            position: absolute;
            z-index: 10;
            display: block;
            right: 0;
            bottom: var(--gw-spacing-medium);
            height: 32px;
            width: 32px;

            // FIXME: pull header-bg from theme
            background: linear-gradient(to right, color.adjust($dark_3, $alpha: -1), $dark_3);
        }


        & > [data-gw-slot="actions"] {
            grid-area: actions;
            position: relative;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: var(--gw-spacing-small);
            
            [popover] {
                background: var(--gw-header-bg-color);

                &:popover-open {
                    position: absolute;
                    display: block;
                    left: auto;
                    right: var(--gw-spacing-medium);
                    right: max(var(--gw-spacing-medium), calc(var(--layout-page-margin) + var(--gw-spacing-medium)));
                    // FIXME: calculate based on action height + 8px padding
                    top: calc(var(--gw-spacing-medium) + 40px);
                }

                &.\:popover-open {
                    position: absolute;
                    display: block;

                    // FIXME: calculate based on action height + 8px padding
                    top: 40px;
                    left: auto;
                    right: 0;
                }
            }
        }

        @include view-mode("narrow") {
            grid-template-columns: 0 1fr auto 0;
            grid-template-areas:
                "margin-start title actions margin-end"
                "nav nav nav nav";
            
                & > [data-gw-slot="title"] {
                    overflow: hidden;
                }

                & > [data-gw-slot="mainbar"] {
                    margin-inline: 0;
                }
        }
    }
}