@use "sass:meta";
@use "../base/base" as *;

@include gw() {

    gw-menu {
        display: none;
        background-color: var(--gw-popover-bg-color);
        box-shadow: var(--gw-popover-shadow);
        margin: 0;
        border: 1px solid var(--gw-shade-color);
        padding: var(--gw-spacing-small);
        border-radius: var(--gw-radius-large);

        max-width: 100dvw;
        max-width: 100vw;

        ul, li {
            display: block;
            margin: 0;
            padding: 0;
        }

        li > :is(a, button) {
            font-size: var(--gw-font-size-ui);
            line-height: var(--gw-line-height-ui);

            display: flex;
            gap: 8px;
            padding: 6px 12px;
            text-decoration: none;
            border-radius: var(--gw-radius-small);
            color: var(--gw-default-fg-color) !important;
            margin: 0;
            border: none;
            width: 100%;
            text-align: start;
            cursor: pointer;

            @include action-bg-color-states("flat");

            &[data-gw-icon]::before {
                margin-block: 2px;
            }
        }

        li > hr, li[role="separator"] {
            height: 0;
            border: 0;
            border-bottom: 1px solid var(--gw-shade-color);
            margin: var(--gw-spacing-small) 0;
        }

        li.gw--caption {
            padding: 6px 12px 4px;
        }

        @include popover-open {
            position: absolute;
            display: block;
        }

        &.\:popover-open {
            z-index: 100;
        }
    }
}