@use "sass:meta";
@use "../base/base" as *;

/* question: does it make sense to reuse any of this stylesheet
when the custom element is defined? */

#{$GW}-splitview:not(:defined) {
    --sidebar-width: 296px;
    --layout-spacing: var(--gw-spacing-large);

    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "margin-start sidebar content margin-end";
    grid-template-columns:
        minmax(var(--layout-spacing), 1fr)
        var(--sidebar-width)
        calc(var(--gw-page-width) - var(--sidebar-width))
        minmax(var(--layout-spacing), 1fr);

    background: linear-gradient(
        to right,
        var(--gw-body-bg-color) 50%,
        var(--gw-view-bg-color) 50%
    );

    [data-gw-slot="sidebar"] {
        grid-area: sidebar;
        display: block;
        background: var(--gw-body-bg-color);
        border-right: 1px solid var(--gw-shade-color);
        padding: var(--layout-spacing);
        padding-inline-start: 0;
    }

    [data-gw-slot="content"] {
        grid-area: content;
        display: block;
        background: var(--gw-view-bg-color);
        padding: var(--layout-spacing);
        padding-inline-end: 0;
    }
}