{%- macro _set_aria_current(current_slug, nav_active_item) -%}
    {%- if current_slug == nav_active_item %} aria-current="page"{%- endif -%}
{%- endmacro -%}


{%- macro headerbar(
            site_title = '',
            site_icon = 'gnome',
            nav = [],
            nav_active_item = "",
            options = []
    )
-%}

    <gw-mainbar>
        <h1 data-gw-slot="title">
            <a href="
                {%- if nav[0].slug -%}
                    {{ nav[0].url }}
                {%- else -%}
                    /
                {%- endif -%}
            ">
                {% if site_icon -%}
                    <span class="gw-icon" data-gw-icon="{{ site_icon }}">GNOME</span>
                {%- endif -%}

                {%- if site_title -%}
                    <strong>{{ site_title | safe }}</strong>
                {%- endif %}
            </a>
        </h1>

        <nav data-gw-slot="nav" aria-label="Main">
            <ul>
                {% for nav_item in nav -%}
                    <li><a href="{{ nav_item.url }}"
                            {{- _set_aria_current(nav_item.slug, nav_active_item) -}}
                        >
                        {{- nav_item.title -}}
                    </a></li>
                {% endfor %}
            </ul>
        </nav>

        <div data-gw-slot="actions">
            <gw-menu>
                <button data-gw-slot="invoker" class="gw-iconbutton" data-gw-icon="menu">Main menu</button>

                <div data-gw-slot="popover" class="gw-headerbar-popover" role="menu">
                    <ul role="group" aria-label="Main">
                        <li>(...)</li>
                    </ul>
                    <ul role="group" aria-label="GNOME.org">
                        <li>(...)</li>
                    </ul>
                </div>
            </gw-menu>

            {# <button class="gw-iconbutton" data-gw-icon="search" title="Search">Search</button> #}

            <button class="gw-iconbutton" data-gw-icon="menu" popovertarget="main-menu" title="Main Menu">Main menu</button>

            <gw-menu id="main-menu" popover="auto">
                {#
                TODO more like:

                <ul role="group" aria-label="Main">
                    <li> (when mainnav is moved here on narrow viewports </li>
                    ...
                </ul>
                <ul role="group" aria-label="Secondary">
                    <li><a href="#" data-gw-icon="language">Switch Language</a></li>
                </ul>
                <ul role="group" aria-labelledby="gw-headerbar-main-menu-gnomedotorg-group-label">
                    <li role="presentation" id="gw-headerbar-main-menu-gnomedotorg-group-label">GNOME.org</li>
                    <li><a href="/examples/gnome.org/" data-gw-icon="home">Home Page</a></li>
                    <li><a href="/examples/gnome.org/sitemap" data-gw-icon="map">Site Map</a></li>
                </ul> #}
                <ul>
                    {% for nav_item in nav -%}
                    <li><a href="{{ nav_item.url }}"
                            {{- _set_aria_current(nav_item.slug, nav_active_item) -}}
                        >
                        {{- nav_item.title -}}
                    </a></li>
                    {% endfor %}
                    <li role="separator"></li>
                    {# <li><a href="#" data-gw-icon="language">Switch Language</a></li>
                    <li role="separator"></li> #}
                    <li role="presentation" class="gw--caption">GNOME.org</li>
                    <li><a href="/examples/gnome.org/" data-gw-icon="home">Home Page</a></li>
                    <li><a href="/examples/gnome.org/sitemap" data-gw-icon="map">Site Map</a></li>
                </ul>
            </gw-menu>
        </div>
    </gw-mainbar>


{%- endmacro -%}