<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/index.css">
<link rel="shortcut icon" href="/favicon.svg" type="image/svg">

<script type="module">
    // Vendor
    import "/scripts/vendor/popover.min.js";
    import { isSupported, apply } from "/scripts/vendor/invoker.js";
    if (!isSupported()) apply();

    // Components
    import "/scripts/headerbar.js";
    import "/scripts/menu.js";
</script>