{% import '_macros.njk' as gw %}

{%- macro headerbar(active_item="") -%}
    {{ gw.headerbar(
        site_title = "Shell Extensions",
        nav = [
            {slug: "overview",      title: "Overview",     url: "/examples/extensions.gnome.org/"},
            {slug: "gallery",       title: "Gallery",      url: "/examples/extensions.gnome.org/#gallery"},
            {slug: "installed",     title: "Installed",    url: "/examples/extensions.gnome.org/#installed"},
            {slug: "about",         title: "About",        url: "/examples/extensions.gnome.org/#about"}
        ],
        nav_active_item = active_item,
        options = []
    ) }}
{%- endmacro -%}