{% import '_macros.njk' as gw %}

{%- macro headerbar(active_item="") -%}
    {{ gw.headerbar(
        site_title = "Web Patterns",
        site_icon = "map",
        nav = [
            {slug: "overview",      title: "Overview",      url: "/web-patterns/"},
            {slug: "principles",    title: "Principles",    url: "/web-patterns/#principles"},
            {slug: "patterns",      title: "Patterns",      url: "/web-patterns/patterns"},
            {slug: "components",    title: "Components",    url: "/web-patterns/#components"}
        ],
        nav_active_item = active_item,
        options = []
    ) }}
{%- endmacro -%}