{#
<!--

Base layout for all pages

Available variables:
- title         (string or array)
- body_class

-->
-#}
{%- import '_macros.njk' as gw -%}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Source: {{ page.inputPath }} -->
    <!-- Layout: {{ layout }} -->
	<meta charset="UTF-8">
	<title>
        {%- if title -%}
            {%- if title is string -%}
                {{ title }} {{- siteinfo.title_separator -}} {{ siteinfo.title }}
            {%- else -%}
                {{ title | join(siteinfo.title_separator) }} {{- siteinfo.title_separator -}} {{ siteinfo.title }}
            {%- endif -%}
        {%- else -%}
            {{ siteinfo.title }}
        {%- endif -%}
    </title>
    {% include 'meta.html' %}
</head>

<body class="gw {%- if body_class %} {{ body_class }}{%- endif -%}">
    {% block body%}
        {{ content | safe }}
    {% endblock %}
</body>
</html>