{% extends "./base.njk" %}
{% import "./../web-patterns/_includes/_headerbar.njk" as gw_site -%}

{% block body %}
    <div class="gw-page">
        {% block page %}
            <div class="gw-content">
                {{ content | safe }}
            </div>
        {% endblock %}
    </div>

    {% block section_footer %}
        <!-- section_footer -->
    {% endblock %}

    <div class="gw-footer">
        <!-- global footer -->
    </div>

{% endblock %}