{% import '_macros.njk' as gw %}

{%- macro headerbar(active_item="") -%}
    {{ gw.headerbar(
        site_title = "Localization",
        nav = [
            {slug: "overview",      title: "Overview",    url: "/examples/l10n.gnome.org/"},
            {slug: "languages",     title: "Languages",   url: "/examples/l10n.gnome.org/#languages"},
            {slug: "modules",       title: "Modules",     url: "/examples/l10n.gnome.org/#modules"},
            {slug: "releases",      title: "Releases",    url: "/examples/l10n.gnome.org/#releases"}
        ],
        nav_active_item = active_item,
        options = []
    ) }}
{%- endmacro -%}