@use "sass:meta";
@use "../base/base" as *;

/* For CSS variables, check `../root.css` */

@include gw() {
	background: var(--gw-body-bg-color);
	font-size: var(--gw-font-size-default);
    line-height: var(--gw-line-height-default);
	font-family: var(--gw-font-family-ui);
	color: var(--gw-default-fg-color);

	a {
		color: var(--gw-link-color);

		&:visited {
			color: var(--gw-link-color-visited);
		}

		&:hover {
			color: var(--gw-link-color-hover);
		}
	}
}