@use "../base/base" as *;

// Inspired by https://www.joshwcomeau.com/css/custom-css-reset/

html, body {
    height: 100%;
    margin: 0;
}

@include gw() {
    all: initial;
    -webkit-font-smoothing: antialiased;

    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    :is(img, picture, video, canvas, svg) {
        display: block;
        max-width: 100%;
    }
    :is(input, button, textarea, select) {
        font: inherit;
    }
    :is(p, h1, h2, h3, h4, h5, h6, dl, ul, ol) {
        overflow-wrap: break-word;
    }
}