@use "sass:meta";
@use "../base/base" as *;

@include gw() {

    :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
    }

    h1 {
        font-size: var(--gw-font-size-title-1);
    }

    h2 {
        font-size: var(--gw-font-size-title-2);
    }

    h3 {
        font-size: var(--gw-font-size-title-3);
    }

    h4 {
        font-size: var(--gw-font-size-title-4);
    }

    h5 {
        font-size: var(--gw-font-size-default);
    }

    h6 {
        font-size: var(--gw-font-size-caption);
    }

    :is(pre, kbd, samp, code, var) {
        font-family: var(--gw-font-family-monospace);
        font-size: var(--gw-font-size-monospace);
    }

    pre code {
        font-size: inherit;
    }
}