{% import '_macros.njk' as gw %}

{%- macro headerbar(active_item="") -%}
    {{ gw.headerbar(
        site_title = "Apps",
        nav = [
            {slug: "overview",      title: "Overview",      url: "/examples/apps.gnome.org/"},
            {slug: "core",          title: "Core",          url: "/examples/apps.gnome.org/#core"},
            {slug: "circle",        title: "Circle",        url: "/examples/apps.gnome.org/#circle"},
            {slug: "development",   title: "Development",   url: "/examples/apps.gnome.org/#development"}
        ],
        nav_active_item = active_item,
        options = []
    ) }}
{%- endmacro -%}