@use "sass:meta";
@use "../base/base" as *;

@include gw() {
    @include pattern("blocklinks") {
        font-size: var(--gw-font-size-ui);
        list-style: none;
        margin: 0;
        padding: 0;

        @include modifier("3col") {
            /* fixme: allow static column content for sitemap */
            columns: 3 14rem;
            column-gap: var(--spacing-medium);
        }

        .gw-blocklinks-item {
            break-inside: avoid;
            display: block;
            border-radius: var(--gw-radius-large);
            position: relative;
            margin-bottom: 24px;
        }

        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .gw-blocklinks-item a {
            display: block;
            padding: 4px 8px;
            text-decoration: none;
            border-radius: var(--gw-radius-small);
            color: inherit;

            strong {
                font-size: var(--gw-font-size-title-4);
            }

            &:hover {
                text-decoration: underline;
                color: unset;
            }

            @include action-bg-color-states("flat");
        }
    }
}