@use "sass:meta";
@use "../base/base" as *;

/// Box
/// ===
///
/// A component similar to GtkBox with a CSS Flexbox flavor. It arranges children
/// into a single row or column, with the option to wrap if there's not enough space.
///
/// Modifiers
/// ---------
///
/// Orientation:
/// .gw-box--vertical  (default)
///    ||  --horizontal
///
/// Wrap:
/// .gw-box--nowrap  (default)
///    ||  --wrap
///
/// Gap: spacing between children
/// .gw-box--gap-none    (0)
///    ||  --gap-small   (8px)
///    ||  --gap-medium  (16px, default)
///    ||  --gap-large   (24px)
///
/// Align: alignment between children in the cross-axis of the direction
/// .gw-box--align-stretch  (default)
///    ||  --align-start
///    ||  --align-center
///    ||  --align-end
///    ||  --align-baseline
///
/// Align wrap: how lines are distributed in a wrapped box (Flexbox's `align-content`)
/// .gw-box--alignwrap-stretch  (default)
///    ||  --alignwrap-start
///    ||  --alignwrap-center
///    ||  --alignwrap-end
///    ||  --alignwrap-baseline
///
/// Spread: how children are distributed in the axis of the direction (Flexbox's `justify-content`)
/// .gw-box--spread-start  (default)
///    ||  --spread-center
///    ||  --spread-end
///    ||  --spread-distribute
///    ||  --spread-evenly
///
///
/// Child modifiers
/// ---------------
///
/// Box child modifiers may be very common; considering making them generic.
///
/// gw-box-child--expand
/// gw--expand
/// : Stretch to fill available space (flex-grow: 1)
///
/// gw-box-child--keep-size
/// gw--keep-size
/// : Keep child size (flex-grow: 0)

@include gw() {

    @include pattern("box") {
        display: flex;
        flex-direction: column;


        // Orientation

        @include modifier("vertical", ("adaptive": true)) {
            flex-direction: column;
        }
        @include modifier("horizontal", ("adaptive": true)) {
            flex-direction: row;
        }


        // Wrap

        @include modifier("wrap", ("adaptive": true)) {
            flex-wrap: wrap;
        }
        @include modifier("nowrap", ("adaptive": true)) {
            flex-wrap: nowrap;
        }


        // Gap

        @include modifier-map(
            "gap", $GW_DENSITY_MAP, "gap",
            ("adaptive": true)
        );


        // Align

        $align-map: (
            "stretch": stretch,
            "start": flex-start,
            "center": center,
            "end": flex-end,
            "baseline": baseline
        );

        @include modifier-map(
            "align", $align-map, "align-items", 
            ("adaptive": true)
        );


        // Align wrap

        $align-wrap-map: (
            "start": flex-start,
            "center": center,
            "end": flex-end,
            "distribute": space-between,
            "distribute-evenly": space-evenly
        );

        @include modifier-map(
            "align", $align-wrap-map, "align-content",
            ("adaptive": true)
        );


        // Spread

        $spread-map: (
            "start": flex-start,
            "center": center,
            "end": flex-end,
            "distribute": space-between,
            "distribute-evenly": space-evenly
        );

        @include modifier-map(
            "spread", $spread-map, "justify-content",
            ("adaptive": true)
        );


        // Direct children

        @include child-modifier("expand", ('adaptive': true)) {
            flex-grow: 1;
        }
        @include child-modifier("keep-size", ('adaptive': true)) {
            flex-grow: 0;
        }
    }
}