@use "sass:meta";
@use "../base/base" as *;

@include gw() {
    @include pattern("button") {
        color: inherit;
        font-size: var(--gw-font-size-ui);
        font-weight: bold;
        line-height: var(--gw-line-height-ui);
        text-decoration: none;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        border: 0;
        border-radius: var(--gw-radius-small);
        transition: var(--gw-action-transition);

        @include action-bg-color-states("raised");

        & :is(img, svg) {
            width: 1rem;
            height: 1rem;
        }

        @include modifier("fullwidth") {
            text-align: center;
            justify-content: center;
        }

        @include modifier("flat") {
            @include action-bg-color-states("flat");
        }

        @include modifier("suggested") {}
        @include modifier("destructive") {}
        @include modifier("dropdown") {} /* fixme: review name */
    }
}