@use "sass:meta";
@use "../base/base" as *;

@include gw() {

    @include pattern("content") {
        box-sizing: content-box;
        margin: 0 auto;
        max-width: calc(var(--gw-content-width) + (var(--gw-page-margin) * 2));
        padding: var(--gw-page-margin);


        // Headings

        & > h1:first-of-type {
            font-size: var(--gw-font-size-title-1);
            margin-block: 0.5em 0.25em;
        }

        :is(h1, h2, h3, h4, h5, h6) {
            margin-block: 2em 0.5em;
        }


        // Block elements

        :is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, blockquote) {
            &:first-child {
                margin-block-start: 0;
            }

            &:last-child {
                margin-block-end: 0;
            }
        }

        :is(p, ul, ol, dl, pre, blockquote) {
            margin-block: 1em;
        }

        li {
            margin-block: 0.75em;
        }

        dl {
            dt, dd {
                margin-block: 0.25em;
            }
            dd {
                margin-inline-start: 2.5em;

                & + dt {
                    margin-block-start: 1em;
                }
            }
        }

        hr {
            height: 1px;
            border: none;
            background: var(--gw-shade-color);
            margin-block: 3em;
        }

        pre {
            background: var(--gw-action-raised-bg-color);
            padding: var(--gw-spacing-small);
            border-radius: var(--gw-radius-small);

            & > code {
                background: transparent;
            }
        }

        // Inline text semantics

        code {
            background: var(--gw-action-raised-bg-color);
            border-radius: 0.25em;
            padding: 0.1em 0.2em;
        }
    }

    @include pattern("card") {
        background-color: var(--gw-card-bg-color);
        box-shadow: var(--gw-card-shadow);
        border-radius: var(--gw-radius-large);
        padding: var(--gw-spacing-large);
        margin-block: var(--gw-spacing-large);
        margin-inline: calc(var(--gw-spacing-large) * -1);
    }
}