@use "sass:meta";
@use "../base/base" as *;

@include gw() {

    @include pattern("headerbar") {
        width: 100%;
        
        background: var(--gw-header-bg-color);
	    color: var(--gw-default-fg-color);

        @include use-theme("dark", ("foreground", "action"));

        @include node("wrapper") {
            box-sizing: content-box;
            max-width: var(--gw-page-width);
            margin: 0 auto;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr auto 1fr;
            grid-template-areas: "title nav actions";
            padding: var(--gw-spacing-medium);
            gap: var(--gw-spacing-medium);

            @include viewport("narrow") {
                grid-template-columns: 1fr auto;
                grid-template-areas: "title actions" "nav nav";
            }
        }

        @include node("title") {
            grid-area: title;
            margin: 0;
            padding: 0;
            font-size: var(--gw-font-size-title-2);
            font-weight: 600;

            @include viewport("narrow") {
                overflow: hidden;
            }

            h1 {
                font-weight: inherit;
            }

            & > a {
                display: flex;
                flex-direction: row;
                gap: 0.5ch;
                color: inherit;
                text-decoration: none;
                align-items: center;
                width: fit-content;

                & > [data-gw-icon] {
                    display: block;
                    width: 32px;
                    height: 32px;
                }
                & > strong {
                    font-weight: inherit;
                    flex-shrink: 1;
                    width: fit-content;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        @include node("nav") {
            margin: calc(var(--gw-spacing-medium) * -1);
            padding: var(--gw-spacing-medium);
            grid-area: nav;
            display: flex;
            flex: 1 1 auto;
            overflow: auto;
            scrollbar-width: narrow;

            & > ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex: 0 0 auto;
                margin: 0 auto;
                gap: 4px;

                & > li > a {
                    display: flex;
                    border-radius: var(--action-radius, 6px);
                    padding: 4px 12px;
                    color: inherit;
                    text-decoration: none;
                    font-weight: bold;
                    align-items: center;
                    font-weight: 600;
                    gap: 6px;

                    @include action-bg-color-states("flat");
                }
            }
        }
        @include node("actions") {
            grid-area: actions;
            position: relative;
            text-align: end;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: var(--gw-spacing-small);
            
            & > ul {
                list-style: none;

                & > li {
                    display: block;

                    & > a {
                        display: block;
                    }
                }
            }
        }
    }
}