@use "sass:meta";
@use "../base/base" as *;

///
/// gw-iconlabel
/// ============
/// 
/// Add an icon to any inline text element.
/// Example:
/// <strong class="gw-iconlabel" data-gw-icon="gnome">Release Notes</strong>
/// 

@include gw() {
    @include pattern("iconlabel") {
        display: inline-flex;
        gap: 0.25em;
        align-items: center;

        [data-gw-icon]:before {
            margin-block: calc(1lh - var(--gw-icon--size) / 2);
        }
    }
}