@use "sass:meta";
@use "../base/base" as *;

/*

Examples:

<button class="gw-iconbutton" data-gw-icon="menu" aria-label="Main Menu"></button>

<span class="gw-icon" data-gw-icon="menu">Alt text if icon has semantic meaning</span>

*/

@mixin gw-icon($name, $x, $y) {
    [data-gw-icon="#{$name}"] {
        --gw-icon--spritex: #{$x};
        --gw-icon--spritey: #{$y};
    }
}

[data-gw-icon]:before {
    --mask-image: url(../assets/gw-icons--default.svg);
    --mask-position: 
        calc(var(--gw-icon--spritex) * var(--gw-icon--scale, 1) * var(--gw-icon--size, 1rem) * -1)
        calc(var(--gw-icon--spritey) * var(--gw-icon--scale, 1) * var(--gw-icon--size, 1rem) * -1)
    ;


    position: relative;
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    background-color: var(--gw-default-fg-color);

    -webkit-mask-image: var(--mask-image);
    -webkit-mask-position: var(--mask-position);
    -webkit-mask-size: cover;

    mask-image: var(--mask-image);
    mask-position: var(--mask-position);
    mask-size: cover;
}

// Default icons
@include gw-icon("gnome",		0, 0);
@include gw-icon("menu",		2, 0);
@include gw-icon("language",	4, 0);
@include gw-icon("map",			6, 0);
@include gw-icon("close",		8, 0);
@include gw-icon("home",		10, 0);


@include gw() {
    @include pattern("icon") {
        --gw-icon--size: 1rem;
        --gw-icon--scale: 1;

        display: block;
        width: var(--gw-icon--size, 1rem);
        height: var(--gw-icon--size, 1rem);
        overflow: hidden;
        white-space: nowrap;
        user-select: none;
        font-size: 0;
        color: transparent;
        flex-shrink: 0;

		&:before {
			width: 100%;
			height: 100%;
		}

        @include modifier("large") {
            --gw-icon--scale: 2;
            width: calc(var(--gw-icon--size, 1rem) * var(--gw-icon--scale, 1));
            height: calc(var(--gw-icon--size, 1rem) * var(--gw-icon--scale, 1));
        }

        @include modifier("static") {
            --gw-icon--size: 16px;
        }
    }
}
