@use "sass:meta";
@use "../base/base" as *;

@include gw() {
    @include pattern("iconbutton") {
        border: 0;
        padding: 6px;
        border-radius: 6px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        user-select: none;
        font-size: 0;
        color: transparent;
        flex-shrink: 0;

        @include action-bg-color-states("flat");
    }
}