@use "sass:meta";
@use "../base/base" as *;

@include gw() {

    @include pattern("page") {
        min-height: 100vh;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;

        @include node("wrapper") {
            max-width: var(--gw-page-width);
            margin: 0 auto;
        }
    }
}