---
title: Site Map
layout: base

gnome_sites: [
    {"name": "The GNOME Project",       "url": "gnome.org"},
    {"name": "Release Notes",           "url": "release.gnome.org"},
    {"name": "Events",                  "url": "events.gnome.org"},
    {"name": "Hackfests",               "url": "hackfests.gnome.org"},
    {"name": "Foundation",              "url": "foundation.gnome.org"},
    {"name": "Shop",                    "url": "shop.gnome.org"},
    {"name": "Discourse",               "url": "discourse.gnome.org"},
    {"name": "Feeds",                   "urls": [
                                            "feeds.gnome.org",
                                            "planet.gnome.org",
                                            "blogs.gnome.org" ]},
    {"name": "Apps",                    "urls": [
                                            "apps.gnome.org",
                                            "circle.gnome.org" ]},
    {"name": "Shell Extensions",        "url": "extensions.gnome.org"},
    {"name": "Localization",            "url": "l10n.gnome.org"},
    {"name": "Developer",               "url": "developer.gnome.org"},
    {"name": "GitLab",                  "url": "gitlab.gnome.org"}
]


---
{%- extends "./_layout/_page.njk" -%}
{%- import "./_includes/_headerbar.njk" as www -%}

{% block page %}
    {{ www.headerbar("sitemap") }}

    <div class="gw-content">
        <div class="gw--centered">
            <h1>Site Map</h1>

            <input
                class="gw-input gw-input--large"
                type="search"
                aria-label="Search Site Map"
                placeholder="Search Site Map"
                data-gw-icon="search"
            >
        </div>
        
        <h2 class="gw--captionheading gw--divider">GNOME Project</h2>

        <!--
        <ul class="gw-inlinelinks">

        -->

        <ul class="gw-blocklinks gw-blocklinks--3col">
            {% for gnome_site in gnome_sites -%}
                <li class="gw-blocklinks-item">
                    {% if gnome_site.url %}
                        <a href="/examples/{{ gnome_site.url }}">
                            <span class="gw--block">
                                <strong class="gw-iconlabel" data-gw-icon="gnome">{{ gnome_site.name }}</strong>
                            </span>
                            <span class="gw--visuallyhidden"> - </span>
                            <span class="gw--dimmed">{{ gnome_site.url }}</span>
                        </a>
                    {% elseif gnome_site.urls %}
                        <a href="/examples/{{ gnome_site.urls[0] }}" class="gw-blocklinks-item--main">
                            <span class="gw--block">
                                <strong class="gw-iconlabel" data-gw-icon="gnome">{{ gnome_site.name }}</strong>
                            </span>

                            {#- Additional punctuation for screen readers  -#}
                            <span class="gw--visuallyhidden"> - </span>
                            <span class="gw--dimmed">{{ gnome_site.urls[0] }}</span>
                        </a>
                        <ul>
                        {% for subdomain_url in gnome_site.urls -%}
                            {% if not loop.first %}
                                <li>
                                    <a class="gw-action gw--dimmed" href="/examples/{{ subdomain_url }}">
                                        {{- subdomain_url -}}
                                    </a>
                                </li>
                            {% endif %}
                        {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </li>
            {% endfor %}
        </ul>

        <h3 class="gw--captionheading gw--divider">Topics</h3>

        <div class="gw-side">
    </div>

{% endblock %}