@use "../base/base" as *;

// TODO: fix all dark colors

$theme-colors: (

    // foreground
    default-fg-color:   #fff,
    dimmed-fg-color:    #ccc,
    link-color:         $blue_1,
    link-color-hover:   $blue_2,
    link-color-visited: $purple_1,
    shade-color:        hsl(0 100% 100% / 0.16),
    icon-filter:        contrast(0) brightness(2),

    // accent
    accent-color:           #1c71d8,
    accent-fg-color:        #fff,
    accent-bg-color:        #3584E4,
    accent-bg-color-hover:  #4990E7,
    accent-bg-color-active: #216AC2,

    // background
    body-bg-color:    #333,
    view-bg-color:    #111,
    popover-bg-color: #444,
    card-bg-color:    #444,

    // action
    action-flat-bg-color:          hsl(0 100% 100% / 0),
    action-flat-bg-color-hover:    hsl(0 100% 100% / 0.08),
    action-flat-bg-color-active:   hsl(0 100% 100% / 0.16),
    action-raised-bg-color:        hsl(0 100% 100% / 0.08),
    action-raised-bg-color-hover:  hsl(0 100% 100% / 0.16),
    action-raised-bg-color-active: hsl(0 100% 100% / 0.20),

    // shadows
    popover-shadow: none, // fixme
    card-shadow: #{"0 2px 6px 2px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.03)"},
    // fixme: confirm multiple shadow values work in sass maps


    // pending:
    // destructive, success, warning, error
    // sidebar
);