@use "../base/base" as *;

$theme-colors: (

    // foreground
    default-fg-color:   $dark_3,
    dimmed-fg-color:    $dark_2,
    link-color:         $blue_4,
    link-color-hover:   $blue_5,
    link-color-visited: $purple_5,
    shade-color:      hsl(0 0% 0% / 0.16),
    icon-filter:        none,
    
    // accent
    accent-color:           #1c71d8,
    accent-fg-color:        #fff,
    accent-bg-color:        #3584E4,
    accent-bg-color-hover:  #4990E7,
    accent-bg-color-active: #216AC2,

    // background
    body-bg-color:    #F8F9FB,
    view-bg-color:    #FFFFFF,
    popover-bg-color: #FFFFFF,
    card-bg-color:    #FFFFFF,

    // action
    action-flat-bg-color:          hsl(0 0% 0% / 0),
    action-flat-bg-color-hover:    hsl(0 0% 0% / 0.08),
    action-flat-bg-color-active:   hsl(0 0% 0% / 0.16),
    action-raised-bg-color:        hsl(0 0% 0% / 0.08),
    action-raised-bg-color-hover:  hsl(0 0% 0% / 0.16),
    action-raised-bg-color-active: hsl(0 0% 0% / 0.20),


    // shadows
    popover-shadow: #{"0 4px 16px rgba(0, 0, 0, 0.16), 0 0 0 1px var(--gw-shade-color)"},
    card-shadow: #{"0 2px 6px 2px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.03)"},

    // pending:
    // destructive, success, warning, error
    // sidebar
);