@use "sass:color";
@use 'base/_base' as *;
@use 'themes/light';
@use 'themes/dark';

@font-face {
	font-family: gw-local-cantarell;
	src: local(Cantarell);
}

:root {

	/// Base-10 relative unit: `#{sp(16)} = 1rem`
	/// =========================================
	/// 
	/// Size adjusts according to the user default font size setting.
	/// Also known as "Scale-independent pixel".
	///
	/// Use `sp()` in SASS or CSS' native `rem`/`em` for text and UI elements that
	/// increase in size when using "Large Text" or similar accessibility setting.


	/// Font size
	--gw-font-size-ui: 			#{sp(14)};
	--gw-font-size-default: 	#{sp(16)};
	--gw-font-size-caption: 	#{sp(12)};
	--gw-font-size-monospace: 	0.85em;

	/// Titles
	--gw-font-size-title-1:	#{sp(32)};
	--gw-font-size-title-2: #{sp(24)};
	--gw-font-size-title-3: #{sp(20)};
	--gw-font-size-title-4: #{sp(16)};


	/// Font family
	/// 
	/// Uses local Cantarell if the OS has it available (usually on a computer
	/// with GNOME. Otherwise, uses the OS default.
	
	--gw-font-family-ui: 		gw-local-cantarell, system-ui, sans-serif;
	--gw-font-family-document: 	gw-local-cantarell, ui-sans-serif, sans-serif;
	--gw-font-family-monospace: monospace;


	/// Line height
	--gw-line-height-ui: 		calc(20 / 14);	///  ~1.4285 = 20px on ui size
	--gw-line-height-default: 	1.5;			///  24 / 16 = 24px on document size
	--gw-line-height-relaxed: 	1.75;			///  28 / 16 = 28px on default size


	/// Spacing
	/// =======
	/// 
	/// A common set of size values, generally used in layout patterns.
	/// Available in `small`, `medium`, and `large`.
	/// 
	/// Generic modifiers can be used to regionally increase or decrease the spacing density.
	///
	/// |----------------------|-------- Spacing -------|
	/// | Generic Modifier     | small | medium | large |
	/// | ---------------------|-------|--------|-------|
	/// | gw--density-default  | 8px   | 16px   | 24px  |
	/// | gw--density-compact  | 4px   | 8px    | 12px  |
	/// | gw--density-relaxed  | 12px  | 24px   | 36px  |
	/// | ---------------------|------------------------|
	///
	/// Spacing is only available in `px`, to keep a fixed size when using "Large Text".
	/// This prioritizes the page content over paddings or margins, especially
	/// important for small screens.

	--gw-spacing-small:  8px;
	--gw-spacing-medium: 16px;
	--gw-spacing-large:  24px;


	/// Radii
	--gw-radius-small: 6px;
	--gw-radius-large: 12px;
	--gw-radius-full: 9999px;


	/// Content width
	--gw-content-width: #{sp(720)};


	/// Page width
	--gw-page-width: var(--gw-page-width-medium);

	--gw-page-width-large: 	#{sp(1500)};
	--gw-page-width-medium: #{sp(1200)};
	--gw-page-width-small: 	#{sp(768)};
	

	/// Page margin
	--gw-page-margin: var(--gw-spacing-large);

	@include viewport('narrow') {
		--gw-page-margin: var(--gw-spacing-medium);
	}


	/// Header colors
	--gw-header-bg-color: #{$dark_3};
	--gw-header-bg-color-hover: #{color.adjust($dark_3, $lightness: 6%)};
	--gw-header-bg-color-active: #{color.adjust($dark_3, $lightness: 12%)};


	/// Color themes
	@include load-theme("light", light.$theme-colors);
	@include load-theme("dark", dark.$theme-colors);


	/// Default theme
	@include use-theme("light");

	@media (prefers-color-scheme: dark) {
		@include use-theme("dark");
	}

}