{% extends "../../_layouts/base.njk" %}
{% import "./../_includes/_headerbar.njk" as gw_site -%}

{% block body %}

    <div class="gw-page">
        {% block page %}
            {{ gw_site.headerbar("home") }}
        {% endblock %}
    </div>

    {% block section_footer %}
        <!-- section_footer -->
    {% endblock %}

    <div class="gw-footer">
        <!-- global footer -->
    </div>

{% endblock %}