---
title: index
---
{% extends "./_layouts/page.njk" %}

{% block page %}
    <div class="gw-content">
        <h1>An exploration: “GNOME Web Patterns”</h1>
        <div class="gw-card">
            <p><em>“What if the GNOME web presence and collaboration tools were designed to be as respectful and elegant as GNOME itself?”</em></p>
            <p>Inspired by the GNOME design tradition, I set out to explore how its <a href="https://developer.gnome.org/hig/">HIG</a> and <a href="https://gnome.pages.gitlab.gnome.org/libadwaita/">Adwaita design language</a> would translate to the web, for official <a href="https://gnome.org">gnome.org</a> websites and tools.</p>
            <p>This is an <strong>⚠ in progress</strong> exploration of both a design language and a frontend framework. But more importantly, this is an exercise in <a href="https://en.wikipedia.org/wiki/Information_architecture">Information Architecture</a>, for serving GNOME's online community as a whole.</p>

            <hr />

            <p>Ongoing work:</p>
            <ul>
                <li><a href="/web-patterns">Web Patterns Presentation</a></li>
                <li><a href="/examples">Application Examples</a></li>
            </ul>
        </div>
    </div>
{% endblock %}