{% import '_macros.njk' as gw %}

{%- macro headerbar(active_item="") -%}
    {{ gw.headerbar(
        site_title = "",
        nav = [
            {slug: "home",          title: "Home",          url: "/examples/gnome.org/"},
            {slug: "about",         title: "About",         url: "/examples/gnome.org/#about"},
            {slug: "install",       title: "Install",       url: "/examples/gnome.org/#install"},
            {slug: "contribute",    title: "Contribute",    url: "/examples/gnome.org/#contribute"},
            {slug: "donate",        title: "Donate",        url: "/examples/gnome.org/#donate"},
            {slug: "sitemap",       title: "Site Map",      url: "/examples/gnome.org/sitemap"}
        ],
        nav_active_item = active_item,
        options = []
    ) }}
{%- endmacro -%}