/* Main header */

.main-header {
	--main-header-padding: 12px;
	background: var(--header-background);
	color: var(--header-text-color);

	--action-flat-background: var(--header-background);
	--action-flat-background-hover: var(--header-background-hover);
	--action-flat-background-active: var(--header-background-active);
}

/* Wrapper */

.main-header .main-header-wrapper {
	padding: 0 var(--page-margin);
	box-sizing: content-box;
	margin: 0 auto;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas: "heading nav actions";
	padding: var(--main-header-padding);
	row-gap: 8px;
}

/* Heading (Title?) */

.main-header .main-header-heading {
	grid-area: heading;
	margin: 0;
	padding: 0;
	font-size: var(--style-title-2-size);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main-header .main-header-heading > a {
	display: flex;
	flex-direction: row;
	gap: 0.5ch;
	color: inherit;
	text-decoration: none;
	align-items: center;
	width: fit-content;
}
.main-header .main-header-heading > a > img {
	width: 2rem;
	height: 2rem;
}
.main-header .main-header-heading > a > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Nav */

.main-header .main-header-nav {
	grid-area: nav;
	display: flex;
	flex: 1 0 auto;
}
.main-header .main-header-nav > ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex: 0 0 auto;
	margin: 0 auto;
	gap: 0.25rem;
}
.main-header .main-header-nav a {
	display: flex;
	border-radius: var(--action-radius);
	padding: 0.3em 1em;
	gap: 6px;
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	align-items: center;
}
.main-header .main-header-nav a img {
	width: 1rem;
	height: 1rem;
}
.main-header .main-header-nav a:hover {
	background: var(--header-background-hover);
}
.main-header .main-header-nav a:active,
.main-header .main-header-nav a[aria-current="page"] {
	background: var(--header-background-active);
}

/* Actions */

.main-header .main-header-actions {
	grid-area: actions;
	position: relative;
	text-align: end;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 8px;
}

/* Narrow viewports */

@media (width <= 768px) {
	.main-header .main-header-wrapper {
		padding: 0;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"heading actions"
			"  nav    nav   ";
	}
	.main-header .main-header-heading,
	.main-header .main-header-nav,
	.main-header .main-header-actions {
		padding: var(--main-header-padding);
	}
	.main-header .main-header-nav {
		margin-top: calc(var(--main-header-padding) * -1);
		overflow-x: auto;
		scrollbar-width: narrow;
	}
}

/* -------------------------- */


/* Main header (v1) */

#main-header {
	background: var(--header-background);
	color: var(--header-text-color);
}
#main-header > div {
	max-width: calc(var(--page-content-width) + (var(--page-margin) * 2));
	padding: 0 var(--page-margin);
	margin: 0 auto;
	display: grid;
	height: var(--header-height);
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
}
#main-header h1 a {
	display: block;
	position: relative;
	top: -1px;
	width: fit-content;
}
#main-header h1 img {
	height: 32px;
	position:relative;
}
#main-header nav {
	display: flex;
	flex: 1 0 auto;
}
#main-header nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex: 0 0 auto;
	margin: 0 auto;
	gap: 0.25rem;
}
#main-header nav a {
	display: flex;
	border-radius: var(--action-radius);
	padding: 0.3em 1em;
	gap: 6px;
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	align-items: center;
}
#main-header nav a img {
	width: 1rem;
	height: 1rem;
}
#main-header nav a:hover {
	background: var(--header-background-hover);
}
#main-header nav a:active,
#main-header nav a[aria-current="page"] {
	background: var(--header-background-active);
}