@use "sass:meta";
@use "../base/base" as *;


@include modifier("density-default") {
    --gw-spacing-small: 8px;
    --gw-spacing-medium: 16px;
    --gw-spacing-large: 24px;
}


@include modifier("density-compact") {
    --gw-spacing-small: 4px;
    --gw-spacing-medium: 8px;
    --gw-spacing-large: 16px;
}


@include modifier("density-relaxed") {
    --gw-spacing-small: 12px;
    --gw-spacing-medium: 24px;
    --gw-spacing-large: 36px;
}