@use "sass:meta";
@use "../base/base" as *;


@include modifier("inline") {
    display: inline;
}

@include modifier("block") {
    display: block;
}

@include modifier("visuallyhidden") {
    display: block;
    clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}