@use "sass:meta";
@use "../base/base" as *;

@include modifier("page-width-small") {
    --gw-page-width: var(--gw-page-width-small);
}


@include modifier("page-width-medium") {
    --gw-page-width: var(--gw-page-width-medium);
}


@include modifier("page-width-large") {
    --gw-page-width: var(--gw-page-width-large);
}

@include modifier("page-width-full") {
    --gw-page-width: 100%;
}
