@use "sass:meta";
@use "../base/base" as *;


@include modifier("theme-default") {
    //
}

@include modifier("theme-invert") {
    //
}


@include modifier("theme-light") {
    @include use-theme("light");
}


@include modifier("theme-dark") {
    @include use-theme("dark");
}