@use "sass:meta";
@use "../base/base" as *;

// Heading

// Styles

@include modifier("caption") {
    color: var(--gw-dimmed-fg-color);
    font-size: var(--gw-font-size-caption);
}

@include modifier("dimmed") {
    color: var(--gw-dimmed-fg-color);
}

@include modifier("captionheading") {
    color: var(--gw-dimmed-fg-color);
    font-size: var(--gw-font-size-caption);
    font-weight: bold;
}

@include modifier("centered") {
    text-align: center;
}

@include modifier("divider") { // fixme
    border-bottom: 1px solid var(--gw-shade-color);
}