---
title: index
---
{%- extends "./_layouts/_page.njk" -%}

{% block page %}
    {{ gw_site.headerbar("overview") }}
    
    <div class="gw-content">
        <h1>Web Patterns</h1>
        <p>TODO</p>
    </div>
{% endblock %}