---
title: index
layout: base
---
{%- extends "./_layout/_page.njk" -%}
{%- import "./_includes/_headerbar.njk" as l10n_site -%}

{% block page %}
    {{ l10n_site.headerbar("overview") }}
    
    <div class="gw-content">
        <h1>LocalizationWebsite</h1>
    </div>
{% endblock %}