---
title: button
---
{%- extends "../_layouts/_page.njk" -%}

{% block page %}
    {{ gw_site.headerbar("patterns") }}
    
    <div class="gw-content">
        <h1>Button</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ut dolor ac accumsan. Aenean neque velit, consectetur ut ornare non, placerat sit amet nibh. Nulla libero dui, placerat eu interdum quis, dignissim id dolor. Maecenas quis risus id nunc placerat vehicula eu ut odio. Sed et tristique diam, ac facilisis lacus. Vivamus maximus nisl dui, quis tempus magna porttitor eget. Duis aliquet metus vel leo pulvinar feugiat. Aliquam consectetur est at ante malesuada, nec viverra purus blandit. Curabitur sit amet lacus ex. Maecenas molestie faucibus aliquam. Aenean ultrices dictum tortor, vitae fermentum mi commodo id. Morbi bibendum, tortor ut feugiat mattis, orci arcu volutpat nisi, in aliquet risus felis sit amet tellus. Vestibulum ultricies leo velit, ut ullamcorper erat elementum sed. Aenean eget consequat tortor.</p>

        <div class="gw-card">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ut dolor ac accumsan. Aenean neque velit, consectetur ut ornare non, placerat sit amet nibh. Nulla libero dui, placerat eu interdum quis, dignissim id dolor. Maecenas quis risus id nunc placerat vehicula eu ut odio. Sed et tristique diam, ac facilisis lacus. Vivamus maximus nisl dui, quis tempus magna porttitor eget. Duis aliquet metus vel leo pulvinar feugiat. Aliquam consectetur est at ante malesuada, nec viverra purus blandit. Curabitur sit amet lacus ex. Maecenas molestie faucibus aliquam. Aenean ultrices dictum tortor, vitae fermentum mi commodo id. Morbi bibendum, tortor ut feugiat mattis, orci arcu volutpat nisi, in aliquet risus felis sit amet tellus. Vestibulum ultricies leo velit, ut ullamcorper erat elementum sed. Aenean eget consequat tortor.
        </div>
    </div>
{% endblock %}