---
title: Content
---
{%- extends "../_layouts/_page.njk" -%}

{% block page %}
    {{ gw_site.headerbar("patterns") }}
    
    <div class="gw-content gw--density-relaxed">
        <h1>Content</h1>

        <p>Applies typographic style to text content, for comfortable reading. Current support:</p>

        <ul>
            <li>Content blocks:
                <code>&lt;p&gt;</code>
                <code>&lt;h1>-&lt;h6&gt;</code>
                <code>&lt;ul&gt;</code>
                <code>&lt;ol&gt;</code>
                <code>&lt;hr&gt;</code>
                <code>&lt;dl&gt;</code>
                {# <code>&lt;blockquote&gt;</code> #}
                {# <code>&lt;figure&gt;</code> #}
                {# <code>&lt;figcation&gt;</code> #}
                {# <code>&lt;pre&gt;</code> #}
            </li>
            <li>Inline text semantics:
                <code>&lt;a&gt;</code>
                <code>&lt;strong&gt;</code>
                <code>&lt;em&gt;</code>
                <code>&lt;code&gt;</code>
                <code>&lt;mark&gt;</code>
                <code>&lt;ins&gt;</code>
                <code>&lt;del&gt;</code>
                {# <code>&lt;dfn&gt;</code> #}
            </li>
        </ul>

        <div class="gw-card">

        <h1>Playground</h1>

        <p>Duis posuere rutrum rutrum. Praesent nec tortor tincidunt, vulputate neque congue, hendrerit nisi. Maecenas eu lacus nisi, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur, non posuere metus feugiat. Donec in enim elit. Phasellus congue enim ut neque lacinia lacinia. Aenean gravida velit vel mi ultricies ullamcorper.</p>
        <p>Aenean non turpis blandit, sollicitudin felis ut, aliquet mi. Etiam non placerat leo. Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat, sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus, dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</p>

        <h2>Heading 2</h2>
        <p>Duis posuere rutrum rutrum. Praesent nec tortor tincidunt, vulputate neque congue, hendrerit nisi. Maecenas eu lacus nisi, consectetur adipiscing elit.</p>

        <h3>Heading 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur, non posuere metus feugiat. Donec in enim elit. Phasellus congue enim ut neque.</p>

        <h4>Heading 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur, non posuere metus feugiat. Donec in enim elit. Phasellus congue enim ut neque lacinia lacinia. Aenean gravida velit vel mi ultricies ullamcorper.</p>

        <h5>Heading 5</h5>
        <p>Duis posuere rutrum rutrum. Praesent nec tortor tincidunt, vulputate neque congue, hendrerit nisi. Maecenas eu lacus nisi, consectetur adipiscing elit.</p>

        <h6>Heading 6</h6>
        <p>Aenean non turpis blandit, sollicitudin felis ut, aliquet mi. Etiam non placerat leo. Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat, sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus, dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</p>

        <hr />

        <h2>Inline formatting</h2>

        <p>Aenean non <strong>strong fortis</strong>, sollicitudin <em>emphasis felis ut</em>, aliquet mi. <mark>non placerat</mark>, <ins>insertus</ins>, <del>delere</del>.</p>
        
        <p>Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat, sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus, dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</p>
        
        <h3>Inline <code>&lt;code&gt;</code> tag</h3>
        <p>Duis posuere rutrum <code>blandit</code>. Praesent nec tortor tincidunt, <code>&lt;vulputate&gt;</code> neque congue, hendrerit nisi. <code>Maecenas eu lacus nisi</code>, consectetur adipiscing elit.</p>

        <h3>Anchors, <a href="https://en.wiktionary.org/wiki/AKA">a.k.a.</a> links</h3>
        <p>Aenean non turpis blandit, <a href="#1">sollicitudin</a> felis ut, aliquet mi. Etiam non placerat leo. Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat, sagittis justo eu, semper sem. <a href="#2">Sed semper</a>, eros vel interdum dictum, odio urna convallis lacus, <a href="#3">dapibus dignissim ligula ipsum nec risus</a>. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</p>

        <hr />

        <h2>Unordered lists</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur, non posuere metus feugiat. Donec in enim elit. Phasellus congue enim ut neque lacinia lacinia. Aenean gravida velit vel mi ultricies ullamcorper.</p>

        <h3>Short list items</h3>
        <ul>
            <li>Lorem ipsum dolor.</li>
            <li>Sagittis justo eu, semper sem.</li>
            <li>Depibus ligula nec risus.</li>
        </ul>

        <h3>Long list items</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur.</p>
        <ul>
            <li>Aenean non turpis blandit, sollicitudin felis ut, aliquet mi. Etiam non placerat leo. Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat.</li>
            <li>Sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus.</li>
            <li>Dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</li>
        </ul>

        <h3>Nested items</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur.</p>
        <ul>
            <li>Aenean non turpis blandit, sollicitudin felis ut, aliquet mi. Etiam non placerat leo. Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat.
                <ul>
                    <li>Sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus.</li>
                    <li>Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</li>
                    <li>Dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend.
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur, non posuere metus feugiat. Donec in enim elit.</li>
                            <li>Phasellus congue enim ut neque lacinia lacinia. Aenean gravida velit vel mi ultricies ullamcorper.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus.</li>
            <li>Dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</li>
        </ul>


        <h2>Ordered lists</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur, non posuere metus feugiat. Donec in enim elit. Phasellus congue enim ut neque lacinia lacinia. Aenean gravida velit vel mi ultricies ullamcorper.</p>

        <h3>Short list items</h3>
        <ol>
            <li>Lorem ipsum dolor.</li>
            <li>Sagittis justo eu, semper sem.</li>
            <li>Depibus ligula nec risus.</li>
        </ol>

        <h3>Long list items</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis diam in mi efficitur.</p>
        <ol>
            <li>Aenean non turpis blandit, sollicitudin felis ut, aliquet mi. Etiam non placerat leo. Mauris non sem a neque vulputate sodales. Praesent ut mi volutpat.</li>
            <li>Sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus.</li>
            <li>Dapibus dignissim ligula ipsum nec risus. Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus. Phasellus non consequat odio, vel posuere libero.</li>
        </ol>

        <h3>Definition lists</h3>

        <dl>
            <dt>Unordered list</dt>
            <dd>Represents an unordered list of items, typically rendered as a bulleted list.</dd>

            <dt>Ordered list</dt>
            <dd>Represents an ordered list of items — typically rendered as a numbered list.</dd>

            <dt>Definition list</dt>
            <dd>Represents a description list. The element encloses a list of groups of terms (specified using the <code>&lt;dt&gt;</code> element) and descriptions (provided by <code>&lt;dd&gt;</code> elements). Common uses for this element are to implement a glossary or to display metadata (a list of key-value pairs).</dd>

            <dt>List item with multiple descriptions<dd/>
            <dd>Sagittis justo eu, semper sem. Sed semper, eros vel interdum dictum, odio urna convallis lacus.</dd>
            <dd>Donec finibus non ex vehicula eleifend. Mauris mauris magna, mollis ac lacus eu, porttitor tincidunt risus.</dd>
        </dl>

        </div>
    </div>
{% endblock %}