---
title: patterns

patterns: [
    {"slug": "icon", "name": "Icon"},
    {"slug": "pagination", "name": "Pagination"},
    {"slug": "content", "name": "Content"},
    {"slug": "button", "name": "Button"}
]


---
{%- extends "../_layouts/_page.njk" -%}

{% block page %}
    {{ gw_site.headerbar("patterns") }}

    <div class="gw-content">
        <h1>Patterns</h1>

        <ul>
            {% for pattern in patterns %}
            <li>
                <a href="./{{ pattern.slug }}/">{{ pattern.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}