/*

.box
====

A component similar to GtkBox or CSS' Flexbox, that arranges children into a
single row or column, with the option to wrap if there's not enough space.

Modifiers
---------

- gw-box--vertical         (vertical, default)
- gw-box--horizontal        (horizontal)

- gw-box--nowrap        (default)
- gw-box--wrap

Gap: spacing between children

- gw-box--gap-none              (0)
- gw-box--gap-small             (8px)
- gw-box--gap-medium            (16px)
- gw-box--gap-large             (24px)

Align: alignment between children in the cross-axis of the direction

- gw-box--align-stretch         (default)
- gw-box--align-start
- gw-box--align-center
- gw-box--align-end
- gw-box--align-baseline

Align wrap: how lines are distributed in a wrapped box (Flexbox's align-content)

- gw-box--alignwrap-stretch     (default)
- gw-box--alignwrap-start
- gw-box--alignwrap-center
- gw-box--alignwrap-end
- gw-box--alignwrap-baseline

Spread: how children will be distributed in the direction (Flexbox's justify-content)

- gw-box--spread-start          (default)
- gw-box--spread-center
- gw-box--spread-end
- gw-box--spread-distribute
- gw-box--spread-evenly


Children modifiers
------------------

- gw-box-child--expand          Stretch to fill available space (flex-grow: 1)
- gw-box-child--keep-size       Keep child size (flex-grow: 0)


Adaptive modifiers
------------------

- gw-box--wrap:narrow


Generic modifiers
-----------------

- gw-pad--none
- gw-pad--small
- gw-pad--medium
- gw-pad--large

- gw-pad-block--small
- gw-pad-block--medium

- gw--pad-inline-medium
- gw--pad-inline-small

- gw-pad-block-start--small
- gw-pad-block-end--medium


Object + modifier class options
-------------------------------

class="box vertical"
class="Box vertical"
class="box -vertical"
class="box -vertical -spacing-medium"
class="box -horizontal" data-viewport-narrow="-vertical"

class="box box--vertical box--spacing-medium"
class="box box--vertical box--spacing-medium" data-viewport-narrow="box--spacing-small"
class="box -vertical -spacing-medium" data-viewport-narrow="-spacing-small"

block
block-element
block -modifier

*/

.gw-box {
    display: flex;
    flex-direction: column;
}

/* Orientation */
.gw-box.gw-box--vertical {
    flex-direction: column;
}
.gw-box.gw-box--horizontal {
    flex-direction: row;
}

/* Gap */
.gw-box.gw-box--gap-none {
    gap: 0;
}
.gw-box.gw-box--gap-small {
    gap: var(--gw-8sp);
}
.gw-box.gw-box--gap-medium {
    gap: var(--gw-16sp);
}
.gw-box.gw-box--gap-large {
    gap: var(--gw-24sp);
}

/* Child styles */
.gw-box > .gw-box-child--expand {
    flex-grow: 1;
}
.gw-box > .gw-box-child--keep-size {
    flex-grow: 0;
}

/* Padding */

.gw-box--pad-none {
    --pad: 0;
    padding: var(--pad);
}
.gw-box--pad-small {
    --pad: var(--spacing-8);
    padding: var(--pad);
}
.gw-box--pad-medium {
    --pad: var(--spacing-16);
    padding: var(--pad);
}
.gw-box--pad-large {
    --pad: var(--spacing-24);
    padding: var(--pad);
}



/* Narrow viewport specific styles */

@media (width <= 768px) {
    /* Orientation */
    .box[data-viewport-narrow~="vertical"] {
        flex-direction: column;
    }
    .box[data-viewport-narrow~="horizontal"] {
        flex-direction: row;
    }
    
    /* Spacing */
    .box[data-viewport-narrow~="spacing-none"] {
        gap: var(--spacing-none);
    }
    .box[data-viewport-narrow~="spacing-small"] {
        gap: var(--spacing-small);
    }
    .box[data-viewport-narrow~="spacing-medium"] {
        gap: var(--spacing-medium);
    }
    .box[data-viewport-narrow~="spacing-large"] {
        gap: var(--spacing-large);
    }

    /* Child styles */
    .box > [data-viewport-narrow~="expand"] {
        flex-grow: 1;
    }
    .box > [data-viewport-narrow~="keep-size"] {
        flex-grow: 0;
    }
}
