/* Button

.gw-button {}
.gw-icon-button {}
.gw-button.gw-button--suggested {}

*/

/* Icon button */

/* fixme: replace with `gw-button gw-button--icon-only`? */

.gw-icon-button {
    display: flex;
    width: var(--gw-32sp);
    height: var(--gw-32sp);
    padding: var(--gw-8sp);
    background: var(--action-raised-background);
    text-decoration: none;
	color: inherit;
	border-radius: var(--action-radius);
    border: none;
    cursor: pointer;
}
.gw-icon-button :is(img, svg) {
    width: var(--gw-16sp);
    height: var(--gw-16sp);
}
.gw-icon-button:hover {
	background: var(--action-raised-background-hover);
}
.gw-icon-button:active,
.gw-icon-button[aria-pressed="true"],
.gw-icon-button[aria-expanded="true"] {
	background: var(--action-raised-background-active);
}

/* Button */

.gw-button {
	background: var(--action-raised-background);
	padding: var(--gw-6sp) var(--gw-12sp);
	font-size: var(--text-size-small);
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	border-radius: var(--action-radius);
	display: flex;
	gap: var(--gw-6sp);
	align-items: center;
	transition: var(--action-background-transition);
	border: 0;
	cursor: pointer;
}
.gw-button :is(img, svg) {
	width: var(--gw-16sp);
	height: var(--gw-16sp);
}
.gw-button:hover {
	background: var(--action-raised-background-hover);
}
.gw-button:active,
.gw-button[aria-pressed="true"],
.gw-button[aria-expanded="true"] {
	background: var(--action-raised-background-active);
}

/* Flat style */

.gw-button.gw-button--flat {
    background: var(--action-flat-background);
}
.gw-button.gw-button--flat:hover {
	background: var(--action-flat-background-hover);
}
.gw-button.gw-button--flat:active,
.gw-button.gw-button--flat[aria-pressed="true"],
.gw-button.gw-button--flat[aria-expanded="true"] {
	background: var(--action-flat-background-active);
}

/* Full-width */

:is(.action, .button).full-width {
    text-align: center;
    justify-content: center;
}

/* Styles that can be applied to <button> */

.gw-button.gw-button--suggested {
    background: var(--action-suggested-background);
    color: var(--action-suggested-foreground);
}

.gw-button.gw-button--suggested:hover {
    background: var(--action-suggested-background-hover);
}
.gw-button.gw-button--suggested:active {
    background: var(--action-suggested-background-active);
}

/* Dropdown arrow */

:is(.button, .icon-button).button--dropdown:after {
	content: "";
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(/assets/triangle-down-symbolic.svg);
	filter: brightness(10);
	/*top: calc(50% - 7px);
	right: 8px;*/
    margin-right: -4px;
}

/* Fixme */

.destructive-action {

}
.flat {

}
.raised {

}
.circular {

}
.pill {
    
}