/* Menu */

.menu {
	display: flex;
	list-style: none;
	flex-direction: column;
	gap: 0;
	padding: 0;
}
.menu :is(a, button) {
	display: flex;
	color: inherit;
	text-decoration: none;
	padding: 6px var(--menu-item-padding-inline);
	gap: 0.5rem;
	align-items: center;
	border: none;
	border-radius: var(--action-radius);
    color: var(--text-color-primary);
	font-size: var(--text-size-small);
	background: var(--action-flat-background);
	transition: var(--action-background-transition);
}
@media (pointer: coarse) {
	.menu :is(a, button) {
		padding-block: 8px;
	}
}
.menu :is(a, button) :is(img, svg) {
	display: block;
	width: 1rem;
	height: 1rem;
}
.menu :is(a, button) .label {
	flex: 1 1 auto;
}
.menu :is(a, button):hover {
	background: var(--action-flat-background-hover);
}
.menu :is(a, button):active {
	background: var(--action-flat-background-active);
}
.menu [role="menuitemradio"][aria-checked="true"] a:after {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	background: url(/assets/icons/check-plain-symbolic.svg);
	filter: invert(1);
}
.menu .menu-separator {
	background: var(--border-color);
	height: 1px;
	margin-block: var(--menu-margin);
}