/* Popover */

.popover {
	position: absolute;
	inset: unset;
	text-align: start;
	background: var(--popover-background);
	box-shadow: var(--popover-shadow);
	border-radius: var(--popover-radius);
	border: none;
	padding: 0;
	opacity: 0;
	overflow: visible;
}
.popover:popover-open {
	display: block;
	animation: popover-open 60ms ease-out forwards;
}
.popover.\:popover-open {
	display: block;
	animation: popover-open 60ms ease-out forwards;
}

@keyframes popover-open {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Popover menu */

.popover > .menu {
	padding: var(--spacing-8);
}

/* Popover divider */

.popover-divider {
	border: 0;
	height: 1px;
	background: var(--border-color);
	margin: 0;
	margin-inline: calc(var(--pad, 0) * -1);
}

/* Popover arrow */

.popover > [data-popper-arrow] {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12px 12px 12px;
	border-color: transparent transparent var(--popover-background) transparent;
	z-index: 10;
	top: -12px;
}
.popover > [data-popper-arrow]:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background: var(--popover-background);
	box-shadow: var(--popover-shadow);
	transform-origin: top left;
	rotate: 45deg;
	z-index: -10;
	clip-path: polygon(-30% -30%, -30% 100%, -30% 100%, 100% -30%);
}