/* Rich content */

.rich-content :where(p, ol, ul, dl, blockquote, pre, figure, table) {
	margin-block-end: 1em;
}
.rich-content :last-child {
	margin-block-end: 0;
}
.rich-content li {
	margin-block-end: 0.5em;
}
.rich-content li > ul {
	margin-block-start: 0.5em;
}

/* Headings */

.rich-content h1 {
	font-size: 2.5rem;
	margin-block: 0.25em 0.5em;
}
.rich-content h2 {
	font-size: 1.6rem;
	margin-block: 1rem 1rem;
}

/* Anchors */

.rich-content a {

}
.rich-content a:hover {
	background: var(--action-flat-background-hover);
	padding: 0.25em;
	margin: -0.25em;
	border-radius: var(--action-radius);
}
.rich-content a:active {
	background: var(--action-flat-background-active);
}

/* Definition list */

.rich-content dt {
    font-weight: bold;
}
.rich-content dl dt:not(:first-child):not(dt + dt) {
	margin-block-start: 1em;
}
.rich-content dd + dd {
	margin-block-start: 0.5em;
}

/* Code */

.rich-content code,
.rich-content samp,
.rich-content kbd {
	font-size: 0.875em;
}
.rich-content code {
	background: var(--action-raised-background);
	padding-inline: 0.2em;
	border-radius: 3px;
}
.rich-content kbd {
	border: 1px solid var(--border-color);
	padding-inline: 0.2em;
	border-radius: 3px;
}

.rich-content pre > code {
	display: block;
	padding: var(--action-radius);
	overflow: auto;
}

/* Span elements */

.rich-content mark {
	background: var(--yellow1);
}

/* Blockquote */

.rich-content blockquote {
	border-inline-start: 4px solid var(--light3);
	margin-inline-start: 0.5em;
	padding-inline-start: 0.5em;
}

.rich-content figure > blockquote + figcaption {
	margin-inline-start: calc(1rem + 4px);
	margin-block: -0.5em;
	font-size: var(--text-size-small);
	color: var(--text-color-secondary);
}

/* Table */

.rich-content table {
	border-collapse: collapse;
}
.rich-content table th,
.rich-content table td {
	border: 1px solid var(--border-color);
	padding: 0.2em 0.5em;
}
.rich-content table tr td {
	background-color: var(--action-flat-background);
	transition: var(--action-background-transition);
}
.rich-content table tr:hover td {
	background-color: var(--action-flat-background-hover);
}

.rich-content table.minimal th,
.rich-content table.minimal td {
	border-inline: none;
}
.rich-content table.minimal th {
	border-block-start: none;
}