.title-1 {
    font-size: var(--style-title-1-size);
}
.title-2 {
    font-size: var(--style-title-2-size);
}
.title-3 {
    font-size: var(--style-title-3-size);
}
.title-4 {
    font-size: var(--style-title-4-size);
}

.heading {

}
.body {

}
.caption-heading {

}
.caption {
    font-size: var(--text-size-small);
	color: var(--text-color-secondary);
}

.monospace {

}
.numeric {

}

/* typography colors */

.accent {

}
.success {

}
.warning {

}
.error {

}