


/* Dark & OSD */

.dark {
	background: var(--dark3);
}
:is(.osd, .dark) {
	--text-color-primary: var(--light1);
	--text-color-secondary: var(--light3);
	--text-color-link: var(--blue1);

	--border-color: hsl(0, 0%, 100%, 0.16);

	--action-raised-background: var(--action-dark-raised-background);
	--action-raised-background-hover: var(--action-dark-raised-background-hover);
	--action-raised-background-active: var(--action-dark-raised-background-active);
	--action-flat-background: var(--action-dark-flat-background);
	--action-flat-background-hover: var(--action-dark-flat-background-hover);
	--action-flat-background-active: var(--action-dark-flat-background-active);
}
:is(.osd, .dark, .theme-dark) :is(.popover, .theme-unset) {
	/* fixme: pull these values from theme-unaware variables */
	--text-color-primary: #3d3846;
	--text-color-secondary: #5C5C64;
	--text-color-link: #3584E4;
	--border-color: rgba(0, 0, 0, 0.16);

	--action-raised-background: var(--action-light-raised-background);
	--action-raised-background-hover: var(--action-light-raised-background-hover);
	--action-raised-background-active: var(--action-light-raised-background-active);
	--action-flat-background: var(--action-light-flat-background);
	--action-flat-background-hover: var(--action-light-flat-background-hover);
	--action-flat-background-active: var(--action-light-flat-background-active);
}
:is(.osd, .dark) .symbolic {
	/* fixme: address `forced-colors` */
	filter: invert(1);
}


/* Symbolic icon */

.symbolic {
	user-select: none;
	display: block;
	width: 1rem;
	height: 1rem;
}


/* Cards and boxed lists */

.card {
	background: var(--box-background);
	padding: var(--box-padding);
	border-radius: var(--box-radius);
	box-shadow: var(--box-shadow);
}
.card > hr {
	border: 0;
	height: 1px;
	margin: var(--box-padding) calc(var(--box-padding) * -1);
	background: var(--box-divider);
}
.boxed-list {
	background: var(--box-background);
	border-radius: var(--box-radius);
	box-shadow: var(--box-shadow);
}
.boxed-list .row {
	padding: var(--box-padding);
}
.boxed-list .row:not(:last-child) {
	border-bottom: 1px solid var(--box-divider);
}

/* narrow viewports */
@media (width <= 768px) {
	/* cards and boxed-lists flushed to the page when in narrow viewports */
	.flushed-when-narrow {
		border-radius: 0;
		margin-inline: calc(var(--page-margin) * -1);
	}
}

/* Rich content */
/*
.rich-content :where(p, ol, ul, dl, blockquote, pre) {
	margin-block-end: 1em;
}
.rich-content :last-child {
	margin-block-end: 0;
}
.rich-content li {
	margin-block-end: 0.5em;
}
*/

/* Tabular numbers */

.tabular-numbers {
	font-variant-numeric: tabular-nums;
}

/* Text fields */

.text-field {
	background: var(--action-raised-background);
	margin: 0;
	padding: 6px 10px;
	border: none;
	font-size: var(--text-size-small);
	border-radius: var(--action-radius);
}
.text-field:focus {
	outline-color: var(--accent-color);
}

/* Field group */


.field-group {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4px;
}
.field-group.full-width {
	align-items: stretch;
}
.field-group label {
	display: block;
	font-weight: bold;
	font-size: var(--text-size-small);
}

/* Generic modifiers */