/* Page content wrappers */

/* content width */

.content-width {
	max-width: var(--page-content-width);
}
.content-width-small {
	max-width: var(--page-content-width-small);
}
.content-width-large {
	max-width: var(--page-content-width-large);
}
.full-width {
	width: 100%;
}

.content-wrapper {
	min-height: 90vh;
	min-height: var(--page-content-min-height);
}

/* fixme: rename */
.content {
	box-sizing: content-box;
	max-width: var(--page-content-width);
	margin: 0 auto;
	padding: var(--page-margin);
	padding-block-end: calc(var(--page-margin) * 2);
	min-height: calc(90vh - var(--header-height));
	min-height: calc(100dvh - var(--header-height) - (var(--page-margin) * 3));
	display: flex;
	flex-direction: column;
	gap: var(--page-margin);
}
.content.large {
	max-width: var(--page-content-width-large);
}
.content.full-width {
	max-width: none;
	box-sizing: border-box;
}

.content > main {
	display: flex;
	flex-direction: column;
	gap: var(--page-margin);
}

.content.dark {
	background: #333; /* fixme */
}

/* Sidebar */

.content.has-nav {
	display: grid;
	grid-template-areas:
		"title title"
		" nav  main ";
	grid-template-rows: auto 1fr;
	grid-template-columns: 256px 1fr;
    position: relative;
    align-items: start;
}
.content.has-nav > hgroup {
	grid-area: title;
}
.content.has-nav > nav,
.content > [data-as="nav"] {
	grid-area: nav;
}
.content.has-nav > main {
	grid-area: main;
}
.sticky {
    position: sticky;
    top: var(--page-margin);
}

/* fixme */

@media (width <= 768px) {
	.content.has-nav {
		grid-template-areas:
			"title"
			"nav"
			"main";
		grid-template-columns: auto;
		grid-template-rows: auto;
	}	
}

/* Page heading typography */

/*
.content h1,
.content > main > h1 {
	margin-block-end: calc(var(--page-margin) / -2);
	font-size: 1.66rem;
}
*/


/* -------------------- */

/* Page layout (new .content) */

.page-layout {
    position: relative;
	box-sizing: content-box;
	max-width: var(--page-content-width);
	margin: 0 auto;
	padding: var(--page-margin);
	padding-block-end: calc(var(--page-margin) * 2);
	min-height: calc(90vh - var(--header-height));
	min-height: calc(100dvh - var(--header-height) - (var(--page-margin) * 3));
	
	display: grid;
	gap: var(--page-margin);
    align-items: start;
}

/* has header child */

.page-layout:has(> header) {
	grid-template-rows: auto 1fr;
}
.page-layout > header {
	grid-row: 1;
}
.page-layout > main {
	grid-row: 2;
}

/* has nav child */

.page-layout:has(> nav) {
	grid-template-columns: 256px 1fr;
}
.page-layout:has(> nav) > header {
	grid-column: 1 / span 2;
}
.page-layout > nav {
	grid-column: 1;
}
.page-layout > main {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: var(--page-margin);
}

/* Narrow viewport */

@media (width <= 768px) {
	.page-layout {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	/* Narrow viewport default view */

	.page-layout[data-default-narrow-view="nav"] > main {
		display: none;
	}
	.page-layout[data-default-narrow-view="main"] > nav {
		display: none;
	}

	/* Target visibility */

	/* main anchor (or one of its children) targetted as a url fragment */
	.page-layout > main:target,
	.page-layout > main:has(:target) {
		display: flex;
	}

	/* if :target is in main (or somewhere inside main), then hide the nav */
	.page-layout:has(:where(main:target, main:has(:target))) > nav {
		display: none;
	}
	
	/* visually reset nav-list current item in case main is not visible */
	.page-layout > nav .nav-list li a[aria-current] {
		background: unset;
	}
	.page-layout > nav .nav-list li a[aria-current]:hover {
		background: var(--action-flat-background-hover);
	}
}

/* Page layout conditional visibility */

@media (width <= 768px) {
	/* main only */
	.page-layout[data-default-narrow-view="nav"]:has(> main:target) [data-hidden-condition~="page-layout:main-only"],
	.page-layout[data-default-narrow-view="main"] [data-hidden-condition~="page-layout:main-only"] {
		display: none;
	}

	/* nav-shown, main-shown */
	.page-layout[data-default-narrow-view="nav"]:not(:has(> main:target)) [data-hidden-condition~="page-layout:nav-shown"],
	.page-layout[data-default-narrow-view="main"]:not(:has(> nav:target)) [data-hidden-condition~="page-layout:main-shown"] {
		display: none;
	}

	/* viewport:narrow */
	[data-hidden-condition~="viewport:narrow"] {
		display: none;
	}
}
@media (width > 768px) {
	/* viewport:regular */
	[data-hidden-condition~="viewport:regular"] {
		display: none;
	}

	/* nav-shown */
	.page-layout:has(> nav) [data-hidden-condition~="page-layout:nav-shown"] {
		display: none;
	}

	/* main-shown */
	.page-layout:has(> main) [data-hidden-condition~="page-layout:main-shown"] {
		display: none;
	}
}