/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		/* ... */
	}
}

/* High contrast */
@media (prefers-contrast: more) {

}

/* Narrow viewports */
@media (width <= 768px) {
	:root {	
		--page-margin: 1rem; /* 32px */
		--box-padding: 1rem; /* 16px */
	}
}
@media (width <= 500px) {
	:root {
		font-size: 87.5%;
		/*--text-size-default: 0.875rem;*/ /* 14px */
		/*--text-size-small: 0.8125rem;*/ /* 13px */	
	}
}

/* Screen reader only */
.gw-visually-hidden {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

/* Initializer */
.gw {
	background: var(--body-background);
	font-family: var(--text-family);
	font-size: var(--text-size-default);
	color: var(--text-color-primary);
}

/* Static size */
.gw--static-size {
	--gw-1sp: 1px;
}


/* Density */
/* Defines the default overall spacing (padding, gap) of block elements
such as cards, boxed lists, page layout, etc
*/

.gw--density-small {
	--gw-density-px-small: var(--gw__small-density-px-small);
	--gw-density-px-medium: var(--gw__small-density-px-medium);
	--gw-density-px-large: var(--gw__small-density-px-large);

	--gw-density-sp-small: var(--gw__small-density-sp-small);
	--gw-density-sp-medium: var(--gw__small-density-sp-medium);
	--gw-density-sp-large: var(--gw__small-density-sp-large);
}
.gw--density-medium {
	--gw-density-px-small: var(--gw__medium-density-px-small);
	--gw-density-px-medium: var(--gw__medium-density-px-medium);
	--gw-density-px-large: var(--gw__medium-density-px-large);

	--gw-density-sp-small: var(--gw__medium-density-sp-small);
	--gw-density-sp-medium: var(--gw__medium-density-sp-medium);
	--gw-density-sp-large: var(--gw__medium-density-sp-large);
}
.gw--density-large {
	--gw-density-px-small: var(--gw__large-density-px-small);
	--gw-density-px-medium: var(--gw__large-density-px-medium);
	--gw-density-px-large: var(--gw__large-density-px-large);

	--gw-density-sp-small: var(--gw__large-density-sp-small);
	--gw-density-sp-medium: var(--gw__large-density-sp-medium);
	--gw-density-sp-large: var(--gw__large-density-sp-large);
}