---
title: button
layout: base
---
<div class="gw-box gw-box--horizontal gw-box--gap-small">
    <a class="gw-button" href="#">Previous</a>
    <a class="gw-button gw-button--suggested" href="#">Next</a>
</div>