---
title: index
layout: base
---
<div class="gw-page">
    <!-- .gw-headerbar -->
    {# {% include "_headerbar.html" %} #}

    <gw-splitview data-defaultslot="sidebar" data-sidebarmode="overlay">
        <nav id="sidebar" slot="sidebar">sidebar</nav>
        <main id="body" slot="content">content</main>
    </gw-splitview>

    <!--<div class="gw-page-wrapper">

    </div>-->
</div>

<!--
<section class="gw-localfooter">
    localfooter
</section>
-->

<footer class="gw-globalfooter">
    globalfooter
</footer>