---
title: menu-element
layout: base
---
<button class="gw-iconbutton" data-gw-icon="menu" popovertarget="some-menu">Some menu</button>

<gw-menu id="some-menu" popover="auto">
    <ul>
        <li><button>Button</button></li>
        <li><button data-gw-icon="menu">Button with icon</button></li>
        <li><a href="#" data-gw-icon="gnome">Anchor</a></li>
        <li><a href="#" data-gw-icon="map">Anchor with icon</a></li>
    </ul>
</gw-menu>

<hr />

<button class="gw-iconbutton" data-gw-icon="menu" popovertarget="some-menu2">Menu with separators</button>

<gw-menu id="some-menu2" popover="auto">
    <ul>
        <li><button>Button</button></li>
        <li><button data-gw-icon="menu">Button with icon</button></li>
        <li role="separator"></li>
        <li><a href="#" data-gw-icon="gnome">Anchor</a></li>
        <li><a href="#" data-gw-icon="map">Anchor with icon</a></li>
    </ul>
</gw-menu>

<hr />

<button class="gw-iconbutton" data-gw-icon="menu" popovertarget="some-menu3">Menu with groups</button>

<gw-menu id="some-menu3" popover="auto">
    <ul role="group">
        <li><button>Button</button></li>
        <li><button data-gw-icon="menu">Button with icon</button></li>
    </ul>
    <hr />
    </ul role="group">
        <li><a href="#" data-gw-icon="gnome">Anchor</a></li>
        <li><a href="#" data-gw-icon="map">Anchor with icon</a></li>
    </ul>
</gw-menu>