@use "sass:map";
@use "sass:meta";
@use "variables" as *;

@mixin gw() {
    #{$GW_CLASS} {
        @content;
    }
}

@mixin viewport($viewport-name) {
    $query: map.get($ADAPTIVE_VIEWPORT_QUERY, $viewport-name);
    
    @media ($query) {
        @content;
    }
}

/// Scale-independent pixels (sp)
@function sp($size) {
    @return $size * 0.0625rem; // (1/16 of 1rem)
}


@mixin action-bg-color-states($style: "raised") {

    @if $style != "raised" and $style != "flat" {
        @error "Invalid action style";
    }

    background: var(--gw-action-#{$style}-bg-color);

    &:hover {
        background: var(--gw-action-#{$style}-bg-color-hover);
    }

    &:active,
    &[aria-current],
    &[aria-pressed="true"],
    &[aria-expanded="true"] {
        background: var(--gw-action-#{$style}-bg-color-active);
    }
}

@mixin popover-open {
    &.\:popover-open {
        @content;
    }
    &:popover-open {
        @content;
    }
}