@use "sass:map";
@use "variables" as *;

/// 

// #region [ Selector functions ]
@function pattern-selector($pattern) {
    @return "#{$GW_PREFIX}#{$pattern}";
}

@function node-selector($node) {
    @return #{$GW_PREFIX} + #{$GW_CURRENT_PATTERN} + #{$NODE_PREFIX} + #{$node};
}

@function modifier-selector($modifier, $viewport: $DEFAULT_VIEWPORT) {
    $context: #{$GW_CLASS};

    @if $GW_CURRENT_PATTERN {
        $context: #{$GW_PREFIX} + #{$GW_CURRENT_PATTERN};
    }

    @if $GW_CURRENT_NODE {
        $context: #{$context} + #{$NODE_PREFIX} + #{$GW_CURRENT_NODE};
    }

    @if $viewport == $DEFAULT_VIEWPORT {
        @return #{$context} + #{$MODIFIER_PREFIX} + #{$modifier};
    } @else {
        @return #{$context} + #{$VIEWPORT_PREFIX} + #{$viewport} + #{$MODIFIER_PREFIX} + #{$modifier};
    }

}
// #endregion


// #region [ Pattern composition mixins ]

/// Example:
///     @include pattern("button") {
///         background: gray;
/// 
///         @include modifier("suggested") {
///             background: blue;
///         }
///     }
/// 
/// Outputs:
/// .gw-button { ... }
/// .gw-button--suggested { ... }


// Pattern: A common reusable piece of UI. Also known as "Block" in the CSS BEM methodology.
// FIXME: rename it to block()?
@mixin pattern($pattern-name) {
    $_prev-pattern: $GW_CURRENT_PATTERN;
    $GW_CURRENT_PATTERN: $pattern-name !global;

    & #{pattern-selector($pattern-name)} {
        @content;
    }

    $GW_CURRENT_PATTERN: $_prev-pattern !global;
}

// Node: An element inside a pattern. Also known as "Element" in CSS BEM.
// FIXME: rename it to element()?
@mixin node($node-name, $config: ()) {
    @if not $GW_CURRENT_PATTERN {
        @error "node must be called from a pattern";
    }

    $_prev-node: $GW_CURRENT_NODE;
    
    @if not $_prev-node {
        $_parent: $GW_CURRENT_PATTERN;
        $GW_CURRENT_NODE: $node-name !global;
    } @else {
        $_parent: $_prev-node;
        $GW_CURRENT_NODE: #{$GW_CURRENT_NODE}#{$NODE_PREFIX}#{$node-name} !global;
    }

    $selector-prefix: "& ";

    // Config: Child Selector
    $direct-child: map.get($config, "direct-child");

    @if $direct-child {
        $selector-prefix: "& > ";
    }
    
    //
    // FIXME: do we really want to support additional flexible selectors?

    // // Config: alternative element selector
    // $alternative-selector: map.get($config, "alternative-selector");

    // @if $alternative-selector {
    //     #{$selector-prefix}:is(#{$alternative-selector}#{string.unquote(", ")}#{node-selector($GW_CURRENT_NODE)}) {
    //         @content;
    //     }
    // } @else {
    // }
    //

    #{$selector-prefix}#{node-selector($GW_CURRENT_NODE)} {
        @content;
    }
    
    $GW_CURRENT_NODE: $_prev-node !global;
}

// Shorthand for a Node that is a direct child only
@mixin child($name, $config: ()) {
    $config: map.set($config, "direct-child", true);
    @include node($name, $config) {
        @content;
    }
}


@mixin modifier($name, $config: ()) {
    $selector-prefix: "&";

    // direct-child modifier
    $direct-child: map.get($config, "direct-child") == true;

    @if $direct-child {
        $selector-prefix: "& > ";
    }
    @if not $GW_CURRENT_PATTERN {
        $selector-prefix: " ";
    }

    // adaptive
    $adaptive: map.get($config, "adaptive") == true;

    // viewport
    $viewport: map.has-key($config, "viewport");

    @if $viewport {
        #{$selector-prefix}#{modifier-selector($name, map.get($config, "viewport"))} {
            @content;
        }
    } @else {
        #{$selector-prefix}#{modifier-selector($name)} {
            @content;
        }

        @if $adaptive {
            @each $viewport, $query in $ADAPTIVE_VIEWPORT_QUERY {
                @media (#{$query}) {
                    #{$selector-prefix}#{modifier-selector($name, $viewport)} {
                        @content;
                    }
                }
            }
        }
    }
}

@mixin child-modifier($name, $config: ()) {
    // Fixme: child modifiers are currently rendered as `gw-box--expand` instead of `gw-box-child--expand`
    // Fixme: `review direct-child` nomenclature

    $config: map.set($config, "direct-child", true);
    @include modifier($name, $config) {
        @content;
    }
}

@mixin modifier-map($name, $map, $css-property, $config: ()) {

    // adaptive
    $is-adaptive: map.get($config, "adaptive") == true;
    $config: map.remove($config, "adaptive");

    @each $key, $value in $map {
        $modifier-name: "#{$name}#{$NODE_PREFIX}#{$key}";
        @include modifier($modifier-name, $config) {
            #{$css-property}: $value;
        }
    }

    @if $is-adaptive {
        @each $viewport, $query in $ADAPTIVE_VIEWPORT_QUERY {
            $config: map.set($config, "viewport", $viewport);
            @media (#{$query}) {
                @each $key, $value in $map {
                    $modifier-name: #{$name} + #{$NODE_PREFIX} + #{$key};
                    @include modifier($modifier-name, $config) {
                        #{$css-property}: $value;
                    }
                }
            }
        }
    }
}

// modifier-values($name, $values)
// modifier-values("pad", "padding", $density-values)

@mixin modifier-values($name, $property, $values) {
    @each $modifier, $value in $values {
        #{node($name)} {
            #{$property}: #{$value};
        }
    }
}
// #endregion