@use "sass:meta";
@use "sass:list";
@use "sass:map";
@use "variables" as *;

$theme-variables: (
    "foreground": (
        "default-fg-color",
        "dimmed-fg-color",
        "link-color",
        "link-color-hover",
        "link-color-visited",
        "shade-color",
        "icon-filter",
    ),

    "accent": (
        "accent-color",
        "accent-fg-color",
        "accent-bg-color",
        "accent-bg-color-hover",
        "accent-bg-color-active",
    ),

    "background": (
        "body-bg-color",
        "view-bg-color",
        "popover-bg-color",
        "card-bg-color",
    ),

    "action": (
        "action-flat-bg-color",
        "action-flat-bg-color-hover",
        "action-flat-bg-color-active",
        "action-raised-bg-color",
        "action-raised-bg-color-hover",
        "action-raised-bg-color-active",
    ),

    "shadow": (
        "popover-shadow",
        "card-shadow",
    )
);


@mixin load-theme($theme-name, $theme-map) {
    @each $category-name, $category-list in $theme-variables {
        @each $variable in $category-list {
            --#{$GW}-#{$theme-name}--#{$variable}: #{map-get($theme-map, $variable)};
        }
    }
}

@mixin use-theme($theme-name, $scope: 'all') {
    @each $category-name, $category-list in $theme-variables {
        @if ($scope == 'all') or
            ($scope == $category-name) or
            meta.type-of($scope) == "list" and (list.index($scope, $category-name) != null) {

            @each $variable in $category-list {
                --#{$GW}-#{$variable}: var(--#{$GW}-#{$theme-name}--#{$variable});
            }

        }

    }
}