// #region [ System variables ]

$BREAKPOINTS: (
    small: 768px,
    medium: 1024px,
    large: 1200px,
);
    
// Adaptive viewports
$DEFAULT_VIEWPORT: "default";
$ADAPTIVE_VIEWPORT_LIST: "narrow", "default";
$ADAPTIVE_VIEWPORT_QUERY: (
    narrow: 'width <= 768px'
);

// Syntax
$NODE_PREFIX: '-';       // .gw-node
$MODIFIER_PREFIX: '--';  // .gw-node--modifier
$VIEWPORT_PREFIX: '--';  // .gw-node--viewport--modifier

// CSS class
$GW: "gw" !default;
$GW_CLASS: ".gw" !default;
$GW_PREFIX: #{$GW_CLASS} + #{$NODE_PREFIX} !default;

// Default density value map
$GW_DENSITY_MAP: (
    "none": 0,
    "small": var(--gw-spacing-small),
    "medium": var(--gw-spacing-medium),
    "large": var(--gw-spacing-large),
);

// #endregion


